@model IEnumerable<Models.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Lists.css" rel="stylesheet" />
    <title>ListCategories</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <nav id="nav">
                <div class="nav-brand">
                    <a href="index.html">
                        <img src="olympialogo.png" alt="">
                    </a>
                </div>

                <div class="menu-icons open">
                    <i class="icon ion-md-menu"></i>
                </div>

                <ul class="nav-list">
                    <div class="menu-icons close">
                        <i class="icon ion-md-close"></i>
                    </div>
                    <li class="nav-item">
                        <a href="~/Home/Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link current">Database</a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Home/History" class="nav-link">History</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- ----------------------------------------------------------------- -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumWeight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumWeight)
            </td>
            <td>
                <a href="/Home/AddCompetitor?id=@item.CategoryId">Add New Competitor</a>
                <br />
                <a href="/Home/ListCompetitors?id=@item.CategoryId">List Competitors</a>
                <br />
                <a href="/Home/EditCategory?id=@item.CategoryId">Edit Category</a>
                <br />
                <a href="/Home/DeleteCategory?id=@item.CategoryId">Delete</a>
                <br />
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
